<div class="banner">
  <div class="banner-content">
    <h1>Discover new Cocktails in Pink!</h1>
    <p>Discover and create your  own recipes</p>
    <p>Choose from over 160 ingredients</p>
  </div>
</div>
