<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="https://github.com/grisreyesrios/rails-mister-cocktail" target="blank_">Discover the code at GitHub</a>.
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon by Grisell Reyes Rios
  </div>
</div>
